<h1>Nom : <%= @restaurant.name %> <small>(<%= @restaurant.category %>)</small> </h2>
<p>Adresse : <%= @restaurant.address %></p>
<p>Tel : <%= @restaurant.phone_number %></p>
<% @restaurant.reviews.each do |review| %>
<p>content : <%= review.content %></p>
<p>rating : <%= review.rating %></p>
<% end %>
<p><%= link_to "Back to all restaurants", restaurants_path %></p>
<p><%= link_to "Create a new review", new_restaurant_review_path(@restaurant.id) %></p>
